[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
requests = "*"

[packages]
django = "*"
djangorestframework = "*"
drf-jsonmask = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
